:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #fdeccd;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: #fdeccd;
	display: block;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

header {
	display: flex;
	background-color: #e5cfae;
	padding: 5px;
	height: 100px;;
}

header h4 {
	margin: 30px 0;
}

header .headerTitle {
	color: #000;
	margin-left: 20px;
}

header img {
	filter: drop-shadow(0 0 2em #000);
}

main {
	flex: auto;
	display: flex;
	padding-top: 0px;
}

input {
	color: #000;
	text-align: center;
	background-color: #e5cfae;
	border: 1px solid #000;
	text-indent: 17px;
}

input:hover, input:focus {
	outline: solid #000;
}

input,
select,
textarea {
	width: 195px;
}

button {
	color: #000;
	background-color: #e5cfae;
	border-color: #000;
}

.button,
button,
input,
select,
textarea {
	margin-bottom: 0;
}

button:hover,
button:enabled:hover,
button:focus {
	outline: solid #000;
	background-color: #e5cfae;
	border: 1px solid #000;
}

button:active, button:enabled:active {
	outline: solid #000;
	background-color: #fdeccd;
	border: 1px solid #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #000;
		background-color: #fdeccd;
	}
}

@media only screen and (max-width: 720px) {
	input,
	select,
	textarea {
		width: 100%;
		text-indent: 0px;
	}
}